*{
    margin: 0px;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
.p-login{
    font-size: 20px;
    font-family: arial,sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-login{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    top:300px;
    background-color: #dddddd;
    border:2px solid #a7a7a7;
}
.login-wrapper{
    font-size: 20px;
    font-family: arial,sans-serif;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.input{
    height: 30px;
    width: 200px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding-left:5px;
}
.btnLogin{
    background-color: #EFEFEF;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 10px;
    width:200px;
    height: 35px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #dddddd;
    transition: 300ms;
}
.btnLogin p{
    text-align:center;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    user-select:none;
}
.btnLogin:hover{
    background-color: #a7a7a7;
}
.incorrect{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 500px;
    text-align: center;
    color:rgb(245, 32, 32);
    opacity: 0%;
}