*{
    margin: 0px;
    box-sizing: border-box;
}
#listWrapper{
    position: absolute;
    width: 100%;
    top:300px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#BearbeiterListe{
    border-collapse:collapse; /*macht das keine gaps zwischen den zellen sind */
    width: 500px;
    font-size: 20px;
    font-family: arial,sans-serif;
}
td,th{
    border-style:solid ;
    border-color: #a7a7a7;
    border-width: 2px;
    text-align: left;
    padding: 8px;
}
tr{
    cursor: pointer;
}
tr:first-child{
    cursor:text;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:hover:not(:first-child){
    background-color: #929292;
    color:#ffffff;
    transition: 0.5s;
}

.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    border:2px solid #a7a7a7;
    width: 500px;
    max-width: 80%;
    height: auto;
    max-height:80%;
    font-size: 20px;
    font-family: arial,sans-serif;
    background-color: #dddddd;
    z-index: 3;
    transition: 200ms ease-in-out;
}
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a7a7a7;
}
.modal-title{
    font-size: 1.25em;
    font-weight: bold;
}
.close-button{
    border-radius: 50%;
    border-width: 0px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 0px;
    background-color: #dddddd;
    color:#ffffff;
    position: absolute;
    right: 20px;
    transition: 300ms;
}
.close-button:hover{
    color: #a7a7a7;
}
.modal-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    row-gap: 15px;
    padding: 10px 15px;
    
}
.input{
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
#speichern{
    width:200px;
    margin-top:20px;
    height: 35px;
    font-size: 17px;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #dddddd;
    transition: 300ms;
}
#loeschen{
    width: 200px;
    margin-top:20px;
    height: 35px;
    font-size: 17px;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #dddddd;
    transition: 300ms;
}
#speichern:hover{
    background-color: #a7a7a7;
}
#loeschen:hover{
    background-color: #a7a7a7;
}
#overlay{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 2;
}
#loeschen-modal{
    position: fixed;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    border:0px#a7a7a7;
    background-color: #ffffff;
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding: 10px 15px;
    height: 200px;
    max-height:80%;
    font-size: 20px;
    font-family: arial,sans-serif;
    transition: 200ms ease-in-out;
    z-index: 5;
}
#loeschenOverlay{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 4;
}
.jaAbbrechen{
    position: fixed;
    top:77%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    column-gap: 50px;
    z-index: 5;
}
#ja{
    width:200px;
    height: 35px;
    font-size: 17px;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #dddddd;
    transition: 300ms;
}
#NeinAbbrechen{
    width:200px;
    height: 35px;
    font-size: 17px;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #dddddd;
    transition: 300ms;
}
#ja:hover{
    background-color: #a7a7a7;
}
#NeinAbbrechen:hover{
    background-color: #a7a7a7;
}